name: "RTL-HAOS"
description: "RTL-SDR to Home Assistant MQTT bridge with signal diagnostics and system monitoring"
version: "1.0.7"
slug: rtl-haos
url: "https://github.com/jaronmcd/rtl-haos"
arch:
  - amd64
  - aarch64
  - armv7
init: false
usb: true
uart: true
startup: services
boot: auto
options:
  mqtt_host: ""
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_pass: ""
  rtl_expire_after: 600
  rtl_throttle_interval: 30
  debug_raw_json: false
  rtl_config: []
  device_blacklist:
    - "SimpliSafe*"
    - "EezTire*"
  device_whitelist: []
schema:
  mqtt_host: str
  mqtt_port: port
  mqtt_user: str
  mqtt_pass: password
  rtl_expire_after: int
  rtl_throttle_interval: int
  debug_raw_json: bool
  rtl_config:
    - name: str
      id: str
      freq: str
      rate: str?
  device_blacklist:
    - str
  device_whitelist:
    - str
services:
  - mqtt:want
map:
  - config
